.total{
    border-radius: 10px;
    border: 1px solid #4e72b8;
    background: #cde6c7;
    position: relative;
    margin:0 0 100px;
}
main{
  margin:40px;
}
body{
  margin: 0;
}
.p-rem{
  margin: 0 0 1rem 0;
}

.grid{
  display:grid;
  grid-template-columns: repeat(12, minmax(0px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  text-align: center;
  font-size:2.2rem;
}

.col-3{
  grid-column: span 4;
}

.col-1{
  grid-column: span 12;
}

.detail{
  font-size: 3rem;
  position: absolute;
  right:20px;
  top:20px;
  cursor: pointer;
}

.China{
  font-size: 3rem;
  position: absolute;
  left:20px;
  top:20px;
}

.html{
  grid-column: span 12;
}

.world{
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  right:-17px;
  height:100%;
  z-index: 50;
  overflow-y: auto;
  transform: translateX(100%);
}

.china{
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  right:-17px;
  height:100%;
  z-index: 50;
  overflow-y: auto;
  transform: translateX(100%);
}
.col-2{
  grid-column: span 6;
}
.world_title{
  margin: 20px;
  padding: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.flex{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  padding: 0 30px 10px 30px;
  border-bottom: 1px solid #d3d7d4;
}

.flex_title{
  border-bottom: 3px solid #d3d7d4!important;
}

.flex p{
  margin: 0;
  font-size: 1.3rem;
}

.relative{
  justify-content: center;
  display:flex;
  position: relative;  
  margin: 30px;
  padding: 0 30px 10px 30px;
  border-bottom: 1px solid #d3d7d4;
}

.relative p{
  margin: 0;
  font-size: 1.3rem;
}

.left{
  position: absolute;
  left: 30px;
}

.mid{
  margin: 0 auto;
}

.right{
  position: absolute;
  right: 30px;
}